.container {
    background-color: #121212;
    color: #e3e3e3;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "asidemenu content"
        "asidemenu footer";
    height: 100vh;
}
@media (max-width: 769px) {
    .container {
        display: inline-block;
        width: 100vw;
    }
    #asidemenu {
        flex-direction: row;
        padding: 3.5rem 15%;
        justify-content: space-between;


    }
}
